.particular-currency-unauthorized-base{
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-items: center;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 3px 2px 10px rgb(253, 233, 255);
    border-radius: 10px;
    margin: 2px 0;
    text-align: center;
}

.particular-currency-unauthorized-base > p{
    font-size: 13px;
}

.particular-currency-unauthorized-base:hover{
    background-color: rgb(230, 203, 255);
}

.particular-currency-unauthorized-image{
    width: 20px;
}

@media only screen and (min-width: 480px) {
    .particular-currency-unauthorized-base{
        width: 80vw;
    }
    
    .particular-currency-unauthorized-base > p{
        font-size: 14px;
    }

    .particular-currency-unauthorized-image{
        width: 30px;
    }
}